<template name="fullscreen">

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="{{pathFor 'tweetsList'}}" class="btn-floating btn-large red waves-effect waves-light">
      <i class="material-icons">list</i>
    </a>
  </div>


  <div class="grid">
    {{#each gridList}}
      {{>gridItem}}
    {{/each}}
  </div>



</template>

<template name="gridItem">
{{#if haveImg}}
<div class="grid-item grid-item--big">
  <a href="https://www.twitter.com/{{username}}">
    <img src="{{userPicture}}" class="circle responsive-img"/>
  </a>
</div>
{{else}}
<div class="grid-item">
  <a href="https://www.twitter.com/{{username}}">
    <img src="{{userPicture}}" class="circle responsive-img"
onError="this.onerror=null;this.src='https://abs.twimg.com/sticky/default_profile_images/default_profile_6_normal.png';"/>
  </a>

</div>
{{/if}}

</template>
